<mat-list class="inline-list">
  <mat-list-item>
    Start Node
    <div class="node-example start-node"></div>
  </mat-list-item>
  <mat-list-item>
    Target Node
    <div class="node-example end-node"></div>
  </mat-list-item>
  <mat-list-item>
    Bomb Node
    <div class="node-example bomb-node"></div>
  </mat-list-item>
  <mat-list-item>
    Weight Node
    <div class="node-example weight-node"></div>
  </mat-list-item>
  <mat-list-item>
    Unvisited Node
    <div class="node-example unvisited-node"></div>
  </mat-list-item>
  <mat-list-item>
    Visited Nodes
    <div class="node-example visited-node__cyan"></div>
    <div class="node-example visited-node__purple"></div>
  </mat-list-item>
  <mat-list-item>
    Shortest Path Node
    <div class="node-example path-node"></div>
  </mat-list-item>
  <mat-list-item>
    Wall Node
    <div class="node-example wall-node"></div>
  </mat-list-item>
</mat-list>
<div class="main-text">
  Pick an algorithm and visualize it!
</div>
