<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="'over'">
    <mat-toolbar>Algorithms</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'pathfinder'" (click)="setActions('pathfinding'); drawer.close()">PathFinding</a>
      <a mat-list-item [routerLink]="'sorter'" (click)="setActions('sorting'); drawer.close()">Sorting</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AlgoVision</span>
      <mat-nav-list class="nav-list">
        <ng-container mat-list-item *ngFor="let action of actions | async">
          <ng-template [ngIf]="!action.isMenu">
            <ng-template [ngIf]="!action.isRaised">
              <button mat-button *ngIf="action.isVisible" [color]="action.color" [disabled]="action.disabled" (click)="action.click()">
                {{action.title}}
              </button>
            </ng-template>
            <ng-template [ngIf]="action.isRaised">
              <button mat-raised-button *ngIf="action.isVisible" [color]="action.color" (click)="action.click()"
                [disabled]="action.disabled">
                {{action.title}}
              </button>
            </ng-template>
          </ng-template>
          <ng-template [ngIf]="action.isMenu">
            <button mat-button *ngIf="action.isVisible"
                    [matMenuTriggerFor]="menu"
                    [color]="action.color"
                    [disabled]="action.disabled">
                {{action.title}}
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu>
              <button mat-menu-item *ngFor="let child of action.children"
                      [disabled]="child.disabled" (click)="child.click()">
                {{child.title}}
              </button>
            </mat-menu>
          </ng-template>
        </ng-container>
      </mat-nav-list>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
