@import "~@angular/material/theming";

@include mat-core();

$av-primary: mat-palette($mat-indigo, 800);
$av-accent: mat-palette($mat-light-green, 600);
$av-warn: mat-palette($mat-orange, 800);

$av-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $av-primary,
      accent: $av-accent,
      warn: $av-warn,
    ),
  )
);

$av-light-theme: mat-light-theme(
  (
    color: (
      primary: $av-primary,
      accent: $av-accent,
      warn: $av-warn,
    ),
  )
);

.light-theme {
  @include angular-material-theme($av-light-theme);
}

.dark-theme {
  @include angular-material-theme($av-dark-theme);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
