@use "@angular/material" as mat;

@include mat.core();

$av-primary: mat.define-palette(mat.$indigo-palette, 800);
$av-accent: mat.define-palette(mat.$light-green-palette, 600);
$av-warn: mat.define-palette(mat.$red-palette, 900);

$av-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $av-primary,
        accent: $av-accent,
        warn: $av-warn,
      ),
    )
);

$av-light-theme: mat.define-light-theme(
    (
      color: (
        primary: $av-primary,
        accent: $av-accent,
        warn: $av-warn,
      ),
    )
);

.light-theme {
  @include mat.all-component-themes($av-light-theme);
}

.dark-theme {
  @include mat.all-component-themes($av-dark-theme);
}

.av-snackbar-container {
  background-color: #323232;
  color: white;

  button {
    background-color: #b71c1c;
    color: white;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
