.inline-list {
  display: flex;
  padding: 0 1rem 0 1rem;
}

av-grid-node {
  margin-left: 15px;
}

.main-text {
  color: #283593;
  font-size: medium;
  text-align: center;
  padding: 15px 25px 15px 25px;
}
